# 1- Create a .env file in this folder
# 2- Copy this content on it
# 3- Change the credential

# Credentials for mongoDB, your username and password given in Discord

USER="yourname"
PASSWORD="yournameadmin3"
API="http://localhost"
API_PORT=3001
