.Fentrance h1 p{
    text-align: center;
}
/*?*/



.btn-enter {
    color: #eeeeee;
    background-color: #2F4F4F;
    border-color: #2F4F4F
}

.btn-primary:hover {
    color: #eeeeee;
    background-color: #2F4F4F;
    border-color: #C0C0C0;
    
}

.btn-enter.focus, .btn-enter:focus {
    -webkit-box-shadow: 0 0 0 2px rgba(2, 117, 216, .5);
    box-shadow: 0 0 0 2px rgba(2, 117, 216, .5)
}

.btn-enter.disabled, .btn-enter:disabled {
    background-color: #2F4F4F;
    border-color: #2F4F4F
}

.btn-enter.active, .btn-enter:active, .show>.btn-enter.dropdown-toggle {
    color: #fff;
    background-color: #2F4F4F;
    background-image: none;
    border-color: #C0C0C0;
}

