body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* added scroll bar - Jun */
  overflow-y: auto;
  overflow-x: hidden;
  /*                         */
}

#with_bg {
  background: url("bg.jpg") no-repeat center center;
  background-size: cover;
  height: 40vh;
  overflow: hidden;
  /* child-align: bottom; */
}

#title {
  font-size: 5vw;
  padding: 15vh auto;
}

.row {
  width: 100vw;
  align-content: center;
  text-align: center;
}

#sign_in_up a {
  color: black;
  text-decoration: none;
}

#nav:last-child a {
  color: black;
  display: block;
  padding: 5vw 2vw 4px 2vw;
  text-decoration: none;
  font-size: 2vw;
  border-bottom: 4px solid transparent;
  text-align: center;
}

#nav:last-child a:hover {
  border-bottom: 4px solid red;
}

#nav:last-child a.active {
  border-bottom: 4px solid red;
  color: red;
}

/* added base css for footer. Oct 23, 2019 - Jun*/
div.footer, div.col-sm-6 div.newline{
  /*temporary colour*/
  background-color: rgb(243, 117, 117);
  position: sticky;
  white-space: pre-line;
  text-align: right;
  bottom: 0;
}


/*
 * Sidebar
 */

/* Hide for mobile, show later */
/* .sidebar {
  display: none;
} */
@media (min-width: 768px) {
  .sidebar {
    position: relative;
    top: 0;
    bottom: 96px;
    left: 0;
    z-index: 1;
    display: inline-block;
    padding: 20px;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: 45px;
  list-style-type: none;
}

/* aligning link list to nav header */
ul.nav-sidebar {
  padding-inline-start: 0px;
}

.nav-sidebar > li > a {
  display: block;
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

/* Sign up css */
div.signup{
  position: relative;
  width: 100%;
} 
.signupform { 
  text-align: left;
  position: relative;
  left: 25%;
}

          
/* Profile page css */
div#prf {
  display: inline-block;
  text-align: left;
  top: 0;
}

div.user_profile {
  display: inline-block;
  width: 75%;
  margin: 0 25px;
  text-align: left; 
}

.userInfo{
  text-align: left;
  position: relative;
}